@use 'heights';



// css变量设定
body {
  /* 按布局计算好的标题的font-size和line-height */
  @for $i from 1 through 6 {
    --h#{$i}-size: calc(#{nth(heights.$h-font, $i) * heights.$hlg} * #{$height});
    --h#{$i}-line-height: calc(#{(nth(heights.$h-font, $i) + 2) * heights.$hlg} * #{$height});
  }

}


// 标题前后margin设定
@for $i from 1 through 6 {
  h#{$i},
  .markdown-rendered h#{$i} {
    margin-block-end: calc(#{(nth(heights.$h-bblank, $i) - 2) * heights.$hlg} * #{$height});
    --heading-spacing: calc(#{(nth(heights.$h-tblank, $i) - 2) * heights.$hlg} * #{$height});
    margin-block-start: var(--heading-spacing);
  }
}


/* 段落收紧 */
body {
  --p-spacing: calc(0.5* #{$height});
}

/* 设置标题后收紧 */
/* 1. 标题接排收紧 */
.markdown-rendered :is(
div:has(> :is(h1,h2,h3,h4,h5,h6)) + div > h6,
div:has(> :is(h1,h2,h3,h4,h5)) + div > h5,
div:has(> :is(h1,h2,h3,h4)) + div > h4,
div:has(> :is(h1,h2,h3)) + div > h3,
div:has(> :is(h1,h2)) + div > h2,
div:has(> h1) + div > h1) {
  margin-block-start: 0 !important;
}

/* 2. 标题接其他块 */
.markdown-rendered div:has(> :is(h1,h2,h3,h4,h5,h6)) + div > :is(blockquote,p,ol,ul,pre){
  margin-block-start: 0 !important;
}

/* list收紧*/
div:has(> p) + div > :is(ul,ol){
  margin-block-start: calc(-1 * 0.5 * #{$height}) !important;
}

.cm-s-obsidian .cm-line.HyperMD-header {
  padding-top: 0;
} 
.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-5 {
  padding-top: calc(0.2* #{$height}) !important;
}
.cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-6 {
  padding-top: calc(0.2* #{$height}) !important;
}


