@use '../globals' as *;

.markdown-rendered div:has(> p) {
  text-indent: 2em;
}

.markdown-preview-section > div:has(> :is(ol, ul)){
  margin-left: 1em;
}

ol,
ul {
  --list-indent: 0;
  padding-left: 1em !important;
}

// blockquote

body{
  --blockquote-border-thickness: 0;
}

.markdown-rendered blockquote {
  border-inline-start: none;
  padding-inline-start: calc(2 * var(--font-text-size));
  text-indent: 2em;
}

.markdown-rendered .callout {
  margin: 0em
}