@use '../globals' as *;

/* general */
// 标签缩进
// ---------------------------------------------
a:is([href="#indent"],[href="#suo"]){
  padding: 0;

  margin-right:-0.25em;
  display: inline-block;

  height: 0;
  font-size: inherit;
  width: 2em;

  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.cm-tag-indent,.cm-tag-suo {
  pointer-events: none;
}

/* list */
.markdown-preview-section > div:has(> :is(ol, ul)){
  margin-left: 1em;
}

ol,
ul {
  --list-indent: 0;
  padding-left: 1em !important;
}


// blockquote

body{
  --blockquote-border-thickness: 0;
}

.markdown-rendered blockquote {
  border-inline-start: none;
  padding-inline-start: calc(2 * var(--font-text-size));
  text-indent: 2em;
}

.markdown-rendered .callout {
  margin: 0em
}