@use '../utils' as *;

// 基准高度，设置的字体大小
$height: 'var(--font-text-size)';

// meta元格，c表示紧凑，s表示宽松
// 网格的最小单位的高度系数，来计算各个高度
// --------------------------------------------
$meta-c: 0.25;


// grid，格高度
// 任何高度相对于元格的倍数。
// 任何一个高度 H = $grid * $meta * $height
// ---------------------------------------------
// 1. heading
// $grid-hf: 标题字面高
// $grid-hb: 标题下空高
// $grid-ha: 标题总高
// $grid-ht: 标题上空高
$grid-hf-c: (7,6,5.5,5,4.5,4);
$grid-hb-c: (3.25,3,2.75,2.5,2.25,2);
$grid-ha-c: (18,16,14,13,10,9);

// 2. 块间间距
$pc: 2;


// 高度对象
// 分元素的高度乘数表
// ----------------------------------------------------
$mods: (
  'compact': (
    'headings': (
      'h1': head($meta-c, nth($grid-hf-c,1), nth($grid-hb-c,1), nth($grid-ha-c,1)),
      'h2': head($meta-c, nth($grid-hf-c,2), nth($grid-hb-c,2), nth($grid-ha-c,2)),
      'h3': head($meta-c, nth($grid-hf-c,3), nth($grid-hb-c,3), nth($grid-ha-c,3)),
      'h4': head($meta-c, nth($grid-hf-c,4), nth($grid-hb-c,4), nth($grid-ha-c,4)),
      'h5': head($meta-c, nth($grid-hf-c,5), nth($grid-hb-c,5), nth($grid-ha-c,5)),
      'h6': head($meta-c, nth($grid-hf-c,6), nth($grid-hb-c,6), nth($grid-ha-c,6)),
    ),
    'p': $pc * $meta-c,
  ),
  // 'spongy': (
  // ),
);

@mixin mod($mod-name) {
  $mod-map: map-get($mods, $mod-name);

  // block gap
  --p-spacing: calc(#{map-get($mod-map, 'p')} * #{$height});

  // heading control
  @each $head,$attribute in map-get($mod-map, 'headings') {
    --#{$head}-size: calc(#{map-get($attribute,'size')} * #{$height});
    --#{$head}-line-height: calc(#{map-get($attribute,'line height')} * #{$height});
    
    .markdown-rendered #{$head} {
      --heading-spacing: calc(#{map-get($attribute,'margin top')} * #{$height});
      margin-block-start: var(--heading-spacing);
      margin-block-end: calc(#{map-get($attribute,'margin bottom')} * #{$height});
    }
  }

  /* 设置标题后收紧 */
  /* 1. 标题接排收紧 */
  .markdown-rendered :is(
    div:has(> :is(h1,h2,h3,h4,h5,h6)) + div > h6,
    div:has(> :is(h1,h2,h3,h4,h5)) + div > h5,
    div:has(> :is(h1,h2,h3,h4)) + div > h4,
    div:has(> :is(h1,h2,h3)) + div > h3,
    div:has(> :is(h1,h2)) + div > h2,
    div:has(> h1) + div > h1) {
      margin-block-start: 0 !important;
  }
  
  /* 2. 标题接其他块 */
  .markdown-rendered div:has(> :is(h1,h2,h3,h4,h5,h6)) + div > :is(blockquote,p,ol,ul,pre){
    margin-block-start: 0 !important;
  }

  .cm-s-obsidian .cm-line.HyperMD-header {
    padding-top: 0;
  } 
  .cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-5 {
    padding-top: calc(0.2* #{$height}) !important;
  }
  .cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-6 {
    padding-top: calc(0.2* #{$height}) !important;
  }

  // list
  div:has(> p) + div > :is(ul,ol){
    margin-block-start: calc(-1 * var(--p-spacing)) !important;
  }

  blockquote {
    margin-block-start: var(--p-spacing);
    margin-block-end: var(--p-spacing);
  }

}
