@function to-string($font-list) {
  $result: ();
  $length: length($font-list);
  
  @for $i from 1 through $length {
    $font: nth($font-list, $i);
    
    @if $i == $length {
      // 最后一项(字体基型)不加引号
      $result: append($result, $font, comma);
    } @else {
      // 其他项加上引号
      $result: append($result, quote($font), comma);
    }
  }
  @return $result;
}

// 标题各个维度的高度系数计算函数
@function heading-metrics( $level, $meta, $grid-heading) {
  $config: map-get($grid-heading, $level);
  $top: map-get($config , total) - map-get($config , 'size') - map-get($config , bottom);
  $size: map-get($config , 'size') * $meta;
  $lineheight: (map-get($config , 'size') + 2) * $meta;
  $margin-top: ($top - 2) * $meta;
  $margin-bottom: (map-get($config , bottom) - 2) * $meta;

  @return (
    'size': $size,
    'line height': $lineheight,
    'margin top': $margin-top,
    'margin bottom': $margin-bottom
  );
} 