@function to-string($font-list) {
  $result: ();
  $length: length($font-list);
  
  @for $i from 1 through $length {
    $font: nth($font-list, $i);
    
    @if $i == $length {
      // 最后一项(字体基型)不加引号
      $result: append($result, $font, comma);
    } @else {
      // 其他项加上引号
      $result: append($result, quote($font), comma);
    }
  }
  @return $result;
}

@function head( $hlg, $font, $bblank, $fullheight) {
  $tblank: $fullheight - $font - $bblank;
  $size: $font * $hlg;
  $lineheight: ($font + 2) * $hlg;
  $margint: ($tblank - 2) * $hlg;
  $marginb: ($bblank - 2) * $hlg;

  $head: (
    'size': $size,
    'line height': $lineheight,
    'margin top': $margint,
    'margin bottom': $marginb
  );
  @return $head;
}