@charset "UTF-8";
/**
 * The Four Typefaces: Heiti
 *  四大字體集・黑體
 */
@font-face {
  font-family: "Hans Heiti";
  src: local("Source Han Sans SC"), local("Source Han Sans CN"), local("Noto Sans CJK SC"), local("Noto Sans SC"), local("Hiragino Sans GB"), local(".PingFang SC Light"), local(".PingFang-SC-Light"), local(".PingFang SC"), local("Lantinghei SC Extralight"), local(FZLTXHK--GBK1-0), local("Lantinghei SC"), local("Heiti SC Light"), local(STHeitiSC-Light), local("Heiti SC"), local("Droid Sans Fallback");
}
@font-face {
  font-family: "Hant Heiti";
  src: local("Noto Sans CJK TC"), local("Source Han Sans TC"), local("Source Han Sans TW"), local("Source Han Sans TWHK"), local("Source Han Sans HK"), local(".PingFang TC Light"), local(".PingFang-TC-Light"), local(".PingFang TC"), local("Heiti TC Light"), local(STHeitiTC-Light), local("Heiti TC"), local("Lantinghei TC Extralight"), local(FZLTXHB--B51-0), local("Lantinghei TC"), local("Microsoft Jhenghei"), local("Droid Sans Fallback");
}
/*
 * Bold
 */
@font-face {
  font-family: "Hans Heiti";
  font-weight: 700;
  src: local("Source Han Sans SC Bold"), local("Source Han Sans CN Bold"), local("SourceHanSansSC-Bold"), local("SourceHanSansCN-Bold"), local("Noto Sans CJK SC Bold"), local("Noto Sans SC Bold"), local(NotoSansCJKsc-Bold), local("Hiragino Sans GB W6"), local(HiraginoSansGB-W6), local(".PingFang SC Semibold"), local(".PingFang-SC-Semibold"), local("Lantinghei SC Demibold"), local("STHeitiSC-Medium"), local("Heiti SC Medium"), local("Microsoft YaHei Bold"), local(MicrosoftYaHei-Bold);
}
@font-face {
  font-family: "Hant Heiti";
  font-weight: 700;
  src: local("Noto Sans CJK TC Bold"), local(NotoSansCJKTC-Bold), local("Source Han Sans TC Bold"), local(SourceHanSansTC-Bold), local("Source Han Sans TW Bold"), local("Source Han Sans TWHK Bold"), local("Source Han Sans HK Bold") local(".PingFang TC Semibold"), local(".PingFang-TC-Semibold"), local(".PingFang TC Semibold"), local("Heiti TC Medium"), local("STHeitiTC-Medium"), local("Lantinghei TC Demibold"), local("Microsoft Jhenghei Bold"), local(MicrosoftJhengHei-Bold);
}
/**
 * The Four Typefaces: Songti (serif)
 * 四大字體集・宋體
 */
@font-face {
  font-family: "Hans Songti";
  src: local("Source Han Serif SC"), local("Source Han Serif CN"), local("Noto Serif CJK SC"), local("Noto Serif SC"), local("Songti SC Regular"), local(STSongti-SC-Regular), local("Songti SC"), local("STSong"), local(SimSun), local(PMingLiU);
}
@font-face {
  font-family: "Hant Songti";
  src: local(YuMincho), local("Hiragino Mincho ProN"), local("Hiragino Mincho Pro"), local("MS Mincho") local("Songti TC Regular"), local(STSongti-TC-Regular), local("Songti TC"), local("Lisong Pro"), local(PMingLiU), local(SimSun);
}
/* 
 * Bold
 */
@font-face {
  font-family: "Hans Songti";
  font-weight: 700;
  src: local("Source Han Serif SC Bold"), local("Source Han Serif CN Bold"), local("Noto Serif CJK SC Bold"), local("Noto Serif SC Bold"), local("STSongti SC Bold"), local(STSongti-SC-Bold), local("STSongti TC Bold"), local(STSongti-TC-Bold);
}
@font-face {
  font-family: "Hant Songti";
  font-weight: 700;
  src: local("YuMincho Demibold"), local(YuMin-Demibold), local("Hiragino Mincho ProN W6"), local(HiraMinProN-W6), local("Hiragino Mincho Pro W6"), local(HiraMinPro-W6), local("STSongti TC Bold"), local(STSongti-TC-Bold), local("STSongti SC Bold"), local(STSongti-SC-Bold);
}
/**
 * The Four Typefaces: Kaiti (Cursive)
 * 四大字體集・楷體
 */
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23, U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F, U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Hans Kaiti";
  src: local("Kaiti SC Regular"), local(STKaiTi-SC-Regular), local("Kaiti SC"), local(STKaiti), local(Kai), local(Kaiti), local(DFKai-SB);
}
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23, U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F, U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Hant Kaiti";
  src: local(BiauKai), local("標楷體"), local(DFKai-SB), local(BiauKaiTC-Regular), local("Kaiti TC Regular"), local(STKaiTi-TC-Regular), local("Kaiti TC");
}
/*
 * Bold
 */
@font-face {
  font-family: "Hans Kaiti";
  font-weight: 700;
  src: local("Kaiti SC Bold"), local(STKaiti-SC-Bold), local("Kaiti SC"), local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti TC");
}
@font-face {
  font-family: "Hant Kaiti";
  font-weight: 700;
  src: local("Kaiti TC Bold"), local(STKaiTi-TC-Bold), local("Kaiti SC Bold"), local(STKaiti-SC-Bold);
}
/**
 * The Four Typefaces: Fangsong
 * 四大字體集・仿宋體
 */
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23, U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F, U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Hans Fangsong";
  src: local(STFangsong), local(FangSong);
}
@font-face {
  unicode-range: U+4E00-9FFF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+FA0E-FA0F, U+FA11, U+FA13-FA14, U+FA1F, U+FA21, U+FA23, U+FA24, U+FA27-FA29, U+3040-309F, U+30A0-30FF, U+3099-309E, U+FF66-FF9F, U+3007, U+31C0-31E3, U+2F00-2FD5, U+2E80-2EF3;
  font-family: "Hant Fangsong";
  src: local(STFangsong), local(FangSong);
}
@font-face {
  font-family: "Biaodian Hans Serif";
  unicode-range: U+201C, U+201D, U+2018, U+2019, U+2E3A, U+2014, U+2013, U+2026, U+00B7, U+007E, U+002F, U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01, U+FF0D, U+FF0F, U+FF3C, U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09, U+3014-3015;
  src: local("Source Han Serif SC"), local("Source Han Serif CN"), local("Noto Serif CJK SC"), local("Noto Serif SC"), local("Songti SC"), local(STSong), local(SimSun);
}
@font-face {
  font-family: "Biaodian Hans Sans";
  unicode-range: U+201C, U+201D, U+2018, U+2019, U+2E3A, U+2014, U+2013, U+2026, U+00B7, U+007E, U+002F, U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01, U+FF0D, U+FF0F, U+FF3C, U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09, U+3014-3015;
  src: local("Source Han Sans SC"), local("Source Han Sans CN"), local("Noto Sans CJK SC"), local("Noto Sans SC"), local("PingFang SC"), local("Heiti SC"), local("Microsoft Yahei");
}
@font-face {
  font-family: "Biaodian Hant Serif";
  unicode-range: U+201C, U+201D, U+2018, U+2019, U+2E3A, U+2014, U+2013, U+2026, U+00B7, U+007E, U+002F, U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01, U+FF0D, U+FF0F, U+FF3C, U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09, U+3014-3015;
  src: local("Source Han Serif TC"), local("Source Han Serif TW"), local("Noto Serif CJK TC"), local("Noto Serif TC"), local("Songti TC"), local(STSong), local(SimSun);
}
@font-face {
  font-family: "Biaodian Hant Sans";
  unicode-range: U+201C, U+201D, U+2018, U+2019, U+2E3A, U+2014, U+2013, U+2026, U+00B7, U+007E, U+002F, U+3002, U+FF0C, U+3001, U+FF1B, U+FF1A, U+FF1F, U+FF01, U+FF0D, U+FF0F, U+FF3C, U+300C-300F, U+300A-300B, U+3008-3009, U+FF08-FF09, U+3014-3015;
  src: local("Source Han Sans TC"), local("Source Han Sans TW"), local("Noto Sans CJK TC"), local("Noto Sans TC"), local("PingFang TC"), local("Heiti TC"), local("Microsoft JhengHei");
}
/**
 * Western Italic Serif
 */
@font-face {
  font-family: "Italic Serif";
  src: local("Georgia Italic"), local("Times New Roman Italic"), local(Georgia-Italic), local(TimesNewRomanPS-ItalicMT), local(Times-Italic);
}
@font-face {
  font-family: "Italic Serif";
  font-weight: 700;
  src: local("Georgia Bold Italic"), local("Times New Roman Bold Italic"), local(Georgia-BoldItalic), local(TimesNewRomanPS-BoldItalicMT), local(Times-Italic);
}
/**
 * Western italic sans-serif
 */
@font-face {
  font-family: "Italic Sans";
  src: local("Helvetica Neue Italic"), local("Helvetica Oblique"), local("Arial Italic"), local(HelveticaNeue-Italic), local(Helvetica-LightOblique), local(Arial-ItalicMT);
}
@font-face {
  font-family: "Italic Sans";
  font-weight: 700;
  src: local("Helvetica Neue Bold Italic"), local("Helvetica Bold Oblique"), local("Arial Bold Italic"), local(HelveticaNeue-BoldItalic), local(Helvetica-BoldOblique), local(Arial-BoldItalicMT);
}
html:lang(en), html:lang(zh), html:lang(zh-hans), .markdown-preview-view:lang(en), .markdown-preview-view:lang(zh), .markdown-preview-view:lang(zh-hans), .markdown-source-view.mod-cm6 .cm-scroller:lang(en), .markdown-source-view.mod-cm6 .cm-scroller:lang(zh), .markdown-source-view.mod-cm6 .cm-scroller:lang(zh-hans) {
  font-family: "Biaodian Hans Serif", Georgia, "Times News Roman", var(--font-text-override), "Hans Songti", Serif !important;
}
html:lang(zh-hant), .markdown-preview-view:lang(zh-hant), .markdown-source-view.mod-cm6 .cm-scroller:lang(zh-hant) {
  font-family: "Biaodian Hant Serif", Georgia, "Times News Roman", var(--font-text-override), "Hant Songti", Serif !important;
}

pre:lang(en), pre:lang(zh), pre:lang(zh-hans) {
  font-family: "Biaodian Hans Sans", Menlo, Consolas, Courier, Source Han Sans SC, "Hans Heiti", sans-serif !important;
}
pre:lang(zh-hant) {
  font-family: "Biaodian Hant Sans", Menlo, Consolas, Courier, Source Han Sans SC, "Hant Heiti", sans-serif !important;
}

.markdown-rendered blockquote:lang(en), .markdown-rendered blockquote:lang(zh), .markdown-rendered blockquote:lang(zh-hans), .markdown-source-view.mod-cm6.is-live-preview.HyperMD-quote:lang(en), .markdown-source-view.mod-cm6.is-live-preview.HyperMD-quote:lang(zh), .markdown-source-view.mod-cm6.is-live-preview.HyperMD-quote:lang(zh-hans) {
  font-family: "Biaodian Hans Serif", "Apple Chancery", "Snell Roundhand", HYQuanTangShiJ, "Hans Kaiti", cursive !important;
}
.markdown-rendered blockquote:lang(zh-hant), .markdown-source-view.mod-cm6.is-live-preview.HyperMD-quote:lang(zh-hant) {
  font-family: "Biaodian Hant Serif", "Apple Chancery", "Snell Roundhand", HYQuanTangShiJ, "Hant Kaiti", cursive !important;
}

h1:lang(en), h1:lang(zh), h1:lang(zh-hans), h2:lang(en), h2:lang(zh), h2:lang(zh-hans), h3:lang(en), h3:lang(zh), h3:lang(zh-hans), h4:lang(en), h4:lang(zh), h4:lang(zh-hans), h5:lang(en), h5:lang(zh), h5:lang(zh-hans), h6:lang(en), h6:lang(zh), h6:lang(zh-hans), .HyperMD-header:lang(en), .HyperMD-header:lang(zh), .HyperMD-header:lang(zh-hans) {
  font-family: "Biaodian Hans Sans", "Helvetica Neue", Helvetica, Arial, Source Han Sans SC, "Hans Heiti", sans-serif !important;
}
h1:lang(zh-hant), h2:lang(zh-hant), h3:lang(zh-hant), h4:lang(zh-hant), h5:lang(zh-hant), h6:lang(zh-hant), .HyperMD-header:lang(zh-hant) {
  font-family: "Biaodian Hant Sans", "Helvetica Neue", Helvetica, Arial, Source Han Sans SC, "Hant Heiti", sans-serif !important;
}

body {
  --blockquote-color: #c9242b;
  --code-normal: var(--text-normal);
  --code-comment: var(--text-muted);
  --code-function: #875C00;
  --code-important: #8C4100;
  --code-keyword: #B02D6C;
  --code-operator: $red-3;
  --code-property: #006E6C;
  --code-punctuation: var(--text-muted);
  --code-string: #01722A;
  --code-tag: $red-3;
  --code-value: #5D3EBB;
  --h1-weight: 900;
  --h2-weight: 900;
  --h2-color: #c9242b;
  --h3-weight: 900;
  --h4-weight: 900;
  --h4-color: #c9242b;
  --h5-weight: 900;
  --h6-weight: 900;
  --h6-color: #c9242b;
}

/* poetry callout */
.callout[data-callout=poetry] {
  background: transparent;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #c9242b;
}

.callout[data-callout=poetry] .callout-title {
  display: none;
}

.callout[data-callout=poetry] .callout-content {
  margin: 0;
  width: 100%;
}

body {
  --p-spacing: calc(0.5 * var(--font-text-size));
  --h1-size: calc(1.75 * var(--font-text-size));
  --h1-line-height: calc(2.25 * var(--font-text-size));
  --h2-size: calc(1.5 * var(--font-text-size));
  --h2-line-height: calc(2 * var(--font-text-size));
  --h3-size: calc(1.375 * var(--font-text-size));
  --h3-line-height: calc(1.875 * var(--font-text-size));
  --h4-size: calc(1.25 * var(--font-text-size));
  --h4-line-height: calc(1.75 * var(--font-text-size));
  --h5-size: calc(1.125 * var(--font-text-size));
  --h5-line-height: calc(1.625 * var(--font-text-size));
  --h6-size: calc(1 * var(--font-text-size));
  --h6-line-height: calc(1.5 * var(--font-text-size));
  /* 设置标题后收紧 */
  /* 1. 标题接排收紧 */
  /* 2. 标题接其他块 */
}
body .markdown-rendered h1 {
  --heading-spacing: calc(1.4375 * var(--font-text-size));
  margin-block-start: var(--heading-spacing);
  margin-block-end: calc(0.3125 * var(--font-text-size));
}
body .markdown-rendered h2 {
  --heading-spacing: calc(1.25 * var(--font-text-size));
  margin-block-start: var(--heading-spacing);
  margin-block-end: calc(0.25 * var(--font-text-size));
}
body .markdown-rendered h3 {
  --heading-spacing: calc(0.9375 * var(--font-text-size));
  margin-block-start: var(--heading-spacing);
  margin-block-end: calc(0.1875 * var(--font-text-size));
}
body .markdown-rendered h4 {
  --heading-spacing: calc(0.875 * var(--font-text-size));
  margin-block-start: var(--heading-spacing);
  margin-block-end: calc(0.125 * var(--font-text-size));
}
body .markdown-rendered h5 {
  --heading-spacing: calc(0.3125 * var(--font-text-size));
  margin-block-start: var(--heading-spacing);
  margin-block-end: calc(0.0625 * var(--font-text-size));
}
body .markdown-rendered h6 {
  --heading-spacing: calc(0.25 * var(--font-text-size));
  margin-block-start: var(--heading-spacing);
  margin-block-end: calc(0 * var(--font-text-size));
}
body .markdown-rendered :is(div:has(> :is(h1, h2, h3, h4, h5, h6)) + div > h6,
div:has(> :is(h1, h2, h3, h4, h5)) + div > h5,
div:has(> :is(h1, h2, h3, h4)) + div > h4,
div:has(> :is(h1, h2, h3)) + div > h3,
div:has(> :is(h1, h2)) + div > h2,
div:has(> h1) + div > h1) {
  margin-block-start: 0 !important;
}
body .markdown-rendered div:has(> :is(h1, h2, h3, h4, h5, h6)) + div > :is(blockquote, p, ol, ul, pre) {
  margin-block-start: 0 !important;
}
body .cm-s-obsidian .cm-line.HyperMD-header {
  padding-top: 0;
}
body .cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-5 {
  padding-top: calc(0.2 * var(--font-text-size)) !important;
}
body .cm-s-obsidian .cm-line.HyperMD-header.HyperMD-header-6 {
  padding-top: calc(0.2 * var(--font-text-size)) !important;
}
body div:has(> p) + div > :is(ul, ol) {
  margin-block-start: calc(-1 * var(--p-spacing)) !important;
}
body blockquote {
  margin-block-start: var(--p-spacing);
  margin-block-end: var(--p-spacing);
}

/* general */
a:is([href="#indent"], [href="#suo"]) {
  padding: 0;
  margin-right: -0.25em;
  display: inline-block;
  height: 0;
  font-size: inherit;
  width: 2em;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.cm-tag-indent, .cm-tag-suo {
  pointer-events: none;
}

/* list */
.markdown-preview-section > div:has(> :is(ol, ul)) {
  margin-left: 1em;
}

ol,
ul {
  --list-indent: 0;
  padding-left: 1em !important;
}

body {
  --blockquote-border-thickness: 0;
}

.markdown-rendered blockquote {
  border-inline-start: none;
  padding-inline-start: calc(2 * var(--font-text-size));
  text-indent: 2em;
}

.markdown-rendered .callout {
  margin: 0em;
}

body {
  /* 文件头 */
  --file-header-justify: left;
}
body.theme-light {
  --icon-color: black;
  /* background */
  --background-primary: #f8f3d4;
  --background-primary-alt: #F7EB99;
  --background-secondary: #C7EDCC;
  --background-secondary-alt: #ffde7d;
  --background-modifier-hover: rgba(200, 50, 50, 0.15);
  --background-modifier-active-hover: rgba(200, 60, 60, 0.3);
  --background-modifier-border: #E60008;
  --background-modifier-border-hover: #C4913A;
  --background-modifier-border-focus: #C4913A;
  --color-accent-hsl: 358,100%,50%;
  --color-accent: #E60008;
  --color-accent-1: #993D42;
  --color-accent-2: #a95a35;
  /* Text */
  --text-on-accent: #993D42;
  --text-on-accent-inverted: #ffde7d;
  --interactive-normal: #f8f3d4;
  --interactive-hover: #ffde7d;
  --toggle-thumb-color: #ffde7d;
  /* navigation */
  --nav-item-color: var(--text-normal);
  --nav-item-background-hover: #993D42;
  --nav-item-background-active: #993D42;
  --nav-item-color-active: #ffde7d;
  --nav-item-color-hover: #ffde7d;
  --nav-collapse-icon-color: #E60008;
  --nav-collapse-icon-color-collapsed: #E60008;
  --ribbon-background: #5DAD78;
  --tab-container-background: #5DAD78;
  /* links */
  --link-color: #C4913A;
  --link-color-hover: #E60008;
  --link-external-color: #C4913A;
  --link-external-color-hover: #E60008;
  /* lists */
  --list-marker-color: #C4913A;
  --list-marker-color-hover: #993D42;
  --list-marker-color-collapsed: #993D42;
  /* graph */
  --graph-line: #895f02;
  --graph-node: #F6BEC8;
  --graph-node-unresolved: #5DAD78;
  --graph-node-focused: #E60008;
  /* inline-title */
  --inline-title-font: "寒蝉端黑宋 Soft";
  --inline-title-weight: 900;
}

/* stroke of the UI */
body {
  --divider-width: 2px;
  /* --background-modifier-border >> --divider-color */
  --divider-color: black;
  --tab-outline-width: 2px;
}

.titlebar-button-container {
  display: flex;
  position: absolute;
  top: calc(-1 * var(--tab-outline-width));
}

.mod-sidedock .workspace-tab-header.is-active {
  --icon-color-focused: #ffde7d;
  --tab-text-color-focused-active-current: #ffde7d;
  --background-modifier-hover: #993D42;
}

/* navigation */
.tree-item.nav-folder:not(.is-collapsed) {
  border-radius: var(--radius-s);
  background-color: rgba(200, 50, 50, 0.15);
}

.nav-buttons-container {
  justify-content: left;
}

.search-result:not(.is-collapsed) .search-result-file-title {
  color: black;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
  border-left: 8px solid #ffde7d;
  border-right: 8px solid #ffde7d;
}

body:not(.is-grabbing) .tree-item-self.is-active:hover,
.tree-item-self.is-active {
  border-left: 8px solid #ffde7d;
  border-right: 8px solid #ffde7d;
}

/* modal */
.modal-container.mod-dim .modal {
  border: 2px solid var(--divider-color);
}

.modal.mod-settings .vertical-tab-header {
  border-inline-end: 2px solid var(--divider-color);
}

.vertical-tab-header-group-title {
  color: var(--text-normal);
  background-color: #5DAD78;
  font-size: var(--font-ui-large);
  font-weight: var(--font-black);
  border-radius: var(--radius-s);
}

.inline-title {
  text-align: center;
}

/*# sourceMappingURL=Monkey.css.map */
